#app {
    -fx-background-color: linear-gradient(#A1F4FF, white);;
}

#top-buttons {
    -fx-border-radius: 20;
    -fx-border-color: black;
    -fx-background-radius: 20;
    -fx-background-color: white;
}

#top-buttons:hover {
    -fx-background-color: #f6f6f6;
}

#dialogButton {
    -fx-border-radius: 10;
    -fx-border-color: red;
    -fx-background-radius: 10;
    -fx-background-color: #E4EAFF;
    -fx-text-fill: red;
}

#dialogButton:hover {
    -fx-border-color: #E4EAFF;
    -fx-background-color: red;
    -fx-text-fill: #E4EAFF;
}

#alert {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 0, 0.5, 0.0, 0.0);
}

#textfield {
    -fx-background-color: -fx-text-box-border, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 15px;
}

#text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}